.top-bar {
    .top-bar-title {
        padding: 2px 10px 0 0;

        a {
            color: $site-tertiary;
            font-size: 1.4em;
            padding: 0;
            text-transform: uppercase;
            font-weight: bold;

            &:hover {
                color: $site-tertiary;
            }
        }
    }

    li {
        a {
            color: #fff;

            &:hover {
                color: $site-secondary;
            }
        }
    }

    .menu li:first-child a {
        padding-left: 0;
    }

}